@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full hover:bg-slate-600 transition-colors;
  }
}